{% extends "eshop.html" %}
{% load i18n %}
{% load bootstrap_tags %}
{% block extrastyle %}{% endblock %}
{% block title %}{% trans 'Registration' %}{% endblock %}
{% block content %}
<h1>{% trans "Login" %}</h1>
<form method="post" class="form-horizontal well" action="">
  {% csrf_token %}
  {{ form|as_bootstrap }}
  <input type="hidden" name="next" value="/eshop"/>
  <div class="form-actions">
      <button type="submit" class="btn" value="back-to-eshop">{% trans "Back to Eshop" %}</button>
      <button type="submit" class="btn btn-success" value="submit">{% trans "Submit" %}</button>
  </div>
</form>
{% endblock %}
{% block left_column %}
{% endblock %}
