{% extends "eshop.html" %}
{% load i18n %}
{% block extrastyle %}{% endblock %}
{% block title %}{% trans 'Registration' %}{% endblock %}
{% block content %}
<h1>{% trans "Registration is completed" %}</h1>

<p>Děkujeme Vám za registraci.</p>

<p>Právě jsme vám poslali email, ve kterém je linka na oveření emailového účtu.</p>

<p>Poté, co ji poklikáte, budete mít svůj účet k dispozici.</p>

<p>Těšíme se na vás.</p>

<p>CD-Bazar</p>
<a href="http://www.bazar-cd.cz">eShop</a>

{% endblock %}
{% block left_column %}
{% endblock %}
