{% extends "eshop.html" %}
{% load i18n %}
{% block title %}{% trans "Article List" %}{% endblock %}
{% block extrastyle %}
<script type="text/javascript">
$(function(){
{% include "eshop/article_list/eshop.js" %}
{% include "eshop/article_list/js.js" %}
{% include "eshop/article_list/js-shortly.js" %}
{% include "eshop/article_list/js-tradeaction.js" %}
});
</script>
{% endblock %}
{% block navigation %}{% include "eshop/basket.html" %}{% endblock %}
{% block content %}
<div class="article_list">
<!-- <h2>{% trans "E-Shop" %}</h2> -->
<div class="heading well well-condensed clearfix">
  <i class="icon-wrench text-large"></i> na počkání opravíme Vaše poškrábané CD a DVD na profesionálnímm stroji TDR<br/>
  od 49Kč
</div>
<form class="pagestate" action="" method="post">
  {% csrf_token %}
  {{ pagestate_form }}
</form>
<div class="banners clearfix">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tradeaction-banner" data-toggle="tab">Akce</a></li>
    <li class=""><a href="#new-articles-banner" data-toggle="tab">Nové zboží</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active tradeaction-banner" id="tradeaction-banner">
      {% include "eshop/article_list/tradeaction_banner.html" %}
    </div>
    <div class="tab-pane new-articles-banner" id="new-articles-banner">
      {% include "eshop/article_list/new_articles_banner.html" %}
    </div>
  </div>
</div>
<div class="eshop-lists well clearfix">
  <ul class="view-nav nav nav-tabs">
    <li class="active"><a href="#list" data-toggle="tab">Zboží</a></li>
    <li class=""><a href="#list-shortly" data-toggle="tab">Tabulkový přehled</a></li>
    <li class=""><a href="#list-with-tradeaction" data-toggle="tab">V akci</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active list-with-goods" id="list">
      <div class="row-fluid">
        <div class="pagination span4">{% include "paginator.html" %}</div>
        <ul class="order-by span8 nav nav-tabs">{% include  "eshop/article_list/order-by.html" %}</ul>
      </div>
      <div class="tab-content">
        <div class="list clearfix">{% include "eshop/article_list/list.html" %}</div>
      </div>
      <div class="pagination clearfix">{% include "paginator.html" %}</div>
    </div>

    <div class="tab-pane" id="list-shortly">
      <div class="row-fluid">
        <div class="pagination span4">{% include "paginator.html" %}</div>
        <ul class="order-by span8 nav nav-tabs">{% include  "eshop/article_list/order-by.html" %}</ul>
      </div>
      <div class="tab-content">
        <div class="list clearfix"></div>
      </div>
      <div class="pagination clearfix">{% include "paginator.html" %}</div>
    </div>

    <div class="tab-pane list-with-tradeaction" id="list-with-tradeaction">
      <div class="row-fluid">
        <div class="pagination span4">{% include "paginator.html" %}</div>
        <ul class="order-by span8 nav nav-tabs">{% include  "eshop/article_list/order-by.html" %}</ul>
      </div>
      <div class="tab-content">
        <div class="list clearfix"></div>
      </div>
      <div class="pagination clearfix">{% include "paginator.html" %}</div>
    </div>
  </div>
</div>
</div>
<!-- <div class="tab-pane" id="list-shortly"> -->
<!--   <div class="row-fluid"> -->
<!--     <div class="pagination span4">{% include "paginator.html" %}</div> -->
<!--     <ul class="order-by span8 nav nav-tabs"> -->
<!--       <li class="active"><a href="#list-shortly-by-newest" data-toggle="tab">Od nejnovějšího</a></li> -->
<!--       <li><a href="#list-shortly-by-cheaper" data-toggle="tab">Od nejlevnějšího</a></li> -->
<!--       <li><a href="#list-shortly-by-abc" data-toggle="tab">Podle abecedy</a></li> -->
<!--     </ul> -->
<!--   </div> -->
<!--   <div class="tab-content"> -->
<!--     <div class="tab-pane active" id="list-shortly-by-newest"> -->
<!--       <div class="list-shortly clearfix">{% include "eshop/article_list/list_shortly.html" %}</div> -->
<!--     </div> -->
<!--     <div class="tab-pane" id="list-shortly-by-cheaper"> -->
<!--       nejlevnejsi -->
<!--     </div> -->
<!--     <div class="tab-pane" id="list-shortly-by-abc"> -->
<!--       podle abecedy -->
<!--     </div> -->
<!--   </div> -->
<!-- <div class="pagination clearfix">{% include "paginator.html" %}</div> -->
<!-- </div> -->
<!-- <div class="tab-pane list-with-tradeaction" id="list-with-tradeaction"> -->
<!--   <div class="row-fluid"> -->
<!--     <div class="pagination span4">{% include "paginator.html" %}</div> -->
<!--     <ul class="order-by span8 nav nav-tabs"> -->
<!--       <li class="active"><a href="#list-with-tradeaction-by-newest" data-toggle="tab">Od nejnovějšího</a></li> -->
<!--       <li><a href="#list-with-tradeaction-by-cheaper" data-toggle="tab">Od nejlevnějšího</a></li> -->
<!--       <li><a href="#list-with-tradeaction-by-abc" data-toggle="tab">Podle abecedy</a></li> -->
<!--     </ul> -->
<!--   </div> -->
<!--   <div class="tab-content"> -->
<!--     <div class="tab-pane active" id="list-with-tradeaction-by-newest"> -->
<!--       <div class="list-with-tradeaction"> -->
<!--         {% include "eshop/article_list/list_with_tradeaction.html" %} -->
<!--       </div> -->
<!--     </div> -->
<!--     <div class="tab-pane" id="list-with-tradeaction-by-cheaper"> -->
<!--       nejlevnejsi -->
<!--     </div> -->
<!--     <div class="tab-pane" id="list-with-tradeaction-by-abc"> -->
<!--       podle abecedy -->
<!--     </div> -->
<!--   </div> -->
<!--   <div class="pagination clearfix">{% include "paginator.html" %}</div> -->
{% endblock %}
{% block left_column %}
<div class="left-column well">
  {% include "eshop/left_column.html" %}
</div>
{% endblock %}

