{% extends "eshop.html" %}
{% load i18n %}
{% block extrastyle %}
<style type="text/css">
  .review {
      position: fixed;
  }
</style>
<script type="text/javascript">
$(function(){
{% include "eshop/basket_review/js.js" %}
});
</script>
{% endblock %}
{% block title %}{% trans 'Basket Review' %}{% endblock %}
{% block content %}
<!-- <div class="review well">{% include "eshop/basket_review/review.html" %}</div> -->
<h1>{% trans "Order of Items" %}</h1>
<div class="order well">{% include "eshop/basket_review/order.html" %}</div>
{% endblock %}
{% block left_column %}
<div class="review">{% include "eshop/basket_review/review.html" %}</div>
{% endblock %}
{% block right_column %}{% include "eshop/basket.html" %}{% endblock %}
