{% extends "eshop.html" %}
{% load i18n %}
{% block extrastyle %}
<script type="text/javascript">
$(function(){
{% include "eshop/from_basket/js.js" %}
});
</script>
{% endblock %}
{% block title %}{% endblock %}
{% block messages %}<div class="messages">{% include "eshop/from_basket/done.html" %}</div>{% endblock %}
{% block content %}{% endblock %}
{% block left_column %}{% include "eshop/mediatype_choose.html" %}{% endblock %}
{% block right_column %}{% include "eshop/basket.html" %}{% endblock %}
