{% extends "eshop.html" %}
{% load i18n %}
{% block extrastyle %}
{% endblock %}
{% block title %}{% trans 'Thank you for your order' %}{% endblock %}
{% block content %}
Linka k Vaší objednávce je:

{{ user }}
{{ order }}

{% endblock %}
{% block left_column %}
<ul class="nav nav-list">
  <li class="nav-header">{% trans 'Choose media type' %}</li>
  {% for type in mediatypes %}
  <li {% if mediatype == type.name %} class="active" {% endif %}><a href="/eshop/?mediaType={{ type.name }}">{{ type.desc }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
