{% extends "eshop.html" %}
{% load i18n %}
{% block title %}{% trans "Order Detail" %}{% endblock %}
{% block extrastyle %}
<script type="text/javascript">
$(function(){
{% include "eshop/order/js.js" %}
});
</script>
{% endblock %}
{% block navigation %}{% include "eshop/basket.html" %}{% endblock %}
{% block content %}
<div class="article_list">
<h2>{% trans "Order no." %} {{ order.id }}</h2>
<div class="list clearfix">{% include "eshop/order/detail.html" %}</div>
</div>
{% endblock %}
{% block left_column %}
{% include "eshop/mediatype_choose.html" %}
{% endblock %}

