{% load i18n %}
<STYLE type="text/css">
body {
  font-size: 70%;
  -webkit-text-size-adjust: 70%;
  -ms-text-size-adjust: 70%;
}
.table th,
.table td {
  padding: 8px;
  line-height: 12px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table-condensed th,
.table-condensed td {
  padding: 2px 3px;
}

table thead tr th {
   background-color: #dddddd;
}
</STYLE>

<table class="table table-condensed table-bordered table-hover">
  <thead>
    <tr>
      <th class="sortable" my:sort_key="article__interpret">{% trans "Interpret" %}</th>
      <th class="sortable" my:sort_key="article__title">{% trans "Title" %}</th>
      <th class="sortable" my:sort_key="article__year">{% trans "Year" %}</th>
      <th class="sortable" my:sort_key="article__mediaType">{% trans "Media Type" %}</th>
      <th></th>
      <th class="sortable" my:sort_key="barcode">{% trans "Barcode" %}</th>
      <th class="sortable" my:sort_key="packnumber">Obálka</th>
      <th class="sortable" my:sort_key="to_store">Naskladněno</th>
      <th>{% trans "At home page" %}</th>
      <th>{% trans "Commentary" %}</th>
      <th>{% trans "Price" %}</th>
      <!-- <th></th> -->
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for item in object_list %}
    <tr class="item-detail" title='{% trans "Goods" %}' id="item_detail_{{ item.id }}">
      <td class="field interpret" my:field="interpret"><span>{{ item.article.interpret }}</span></td>
      <td class="field title" my:field="title"><span>{{ item.article.title }}</span></td>
      <td class="field year" my:field="year"><span>{{ item.article.year|default:"" }}</span></td>
      <td class="field mediatype" my:field="mediaType"><span>{{ item.article.mediaType.name }}</span></td>
      <td>{% if item.state == 1 or item.state == 3 %}
      <a class="to-basket btn btn-secondary btn-small" href="/store/item/{{ item.id }}/to-basket/">{% trans "sell" %}</a>
      {% endif %}
      </td>
      <td class="field barcode" my:field="barcode"><span>{{ item.barcode }}</span></td>
      <td class="field packnumber" my:field="packnumber"><span>{{ item.packnumber }}</span></td>
      <td class="to_store">{{ item.to_store|date:"d.m.Y" }}</td>
      <td class="field home_page" my:field="home_page"><span>{{ item.home_page }}</span></td>
      <td class="field commentary" my:field="commentary"><span>{{ item.commentary }}</span></td>
      <td class="field price" my:field="price"><span>{{ item.price }}</span></td>
      <!-- <td><span>{{item.state_name}}</span></td> -->
      <td>
        {% if item.has_tradeaction %}
        <a class="add-tradeaction btn btn-primary btn-small"
           href="/eshop/item/{{ item.id }}/add-tradeaction/?success_url=/store/item/">{% trans "Trade Action" %}</a>
        {% endif %}
      </td>
      <td>
        <div class="btn-group">
          <a id="item-{{ item.id }}-actions" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            {% trans "Action" %}<span class="caret"></span>
          </a>
          <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="item-{{ item.id }}-actions">
            <li>
              <a class="add-tradeaction btn btn-secondary btn-small"
                 href="/eshop/item/{{ item.id }}/add-tradeaction/?success_url=/store/item/">{% trans "Trade Action" %}</a>
            </li>
            <li>
              <a class="edit btn btn-secondary btn-small"
                 href="/store/item/{{ item.id }}/edit/">{% trans "edit" %}</a>
            </li>
          </ul>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
