{% load i18n thumbnail %}
{% load bootstrap_tags %}

<div class="">
{% if object_list %}
<ul class="thumbnails">
<div class="row-fluid">
{% for article in object_list %}
<li class="span2">
  <div class="thumbnail">
    {% thumbnail article.picture "310x310" as im %}
    <a href="/eshop/article/{{article.id}}/">
      <img class="picture" src="/media/{{im.url}}" width="{{ im.width }}" height="{{ im.height }}"></img>
    </a>
    {% endthumbnail %}
    <div class="caption">
      <h5><a href="/eshop/article/{{ article.id }}">{{ article.interpret|truncatechars:20 }}</a></h5>
      <div><a href="/eshop/article/{{ article.id }}">{{ article.title|truncatechars:20 }}</a></div>
      <div><strong>{{ article.forSalePriceRange.0 }} Kč</strong></div>
      <div>{% if article.discount %}<span class="badge  badge-success">akce</span>{% endif %}</div>
    </div>
  </div>
</li>
{% if forloop.counter|divisibleby:"6" %}
</div><div class="row-fluid">
{% endif %}
{% endfor %}
</div>
</ul>

{% else %}
{% if reservation_form.is_bound and reservation_form.is_valid %}
   <div class="well">
     <h4>Díky za rezervaci</h4>
     <p>
       Hotovo, máme rezervaci a jak se něco objeví, ozveme se Vám.
     </p>
     <div>
       <a href="?" class="btn btn-success">Zpátky do eShopu</a>
     </div>
   </div>
{% else %}
<div class="well">
    <h4>Hm, nic jsme nenašli.</h4>
    <p>
      Ale neztrácejte hlavu, zboží si můžete rezervovat. 
    </p>
    <p>
      A jak se objeví, budeme Vás informovat!
    </p>
    <p> zadejte dotaz, jako ve vyhledávání</p>
    <form method="post" class="form-horizontal" action="">
      {% csrf_token %}
      {{ reservation_form | as_bootstrap }}
      <div class="form-actions">
        <input type="submit" name="cancel" class="btn" value="{% trans 'Cancel' %}"/>
        <input type="submit" name="review-order" class="btn btn-success" 
               value="{% trans 'Submit reservation' %}"/>
      </div>
    </form>
</div>
{% endif %}
{% endif %}
</div>
