{% load i18n thumbnail %}
<ul class="thumbnails">
<div class="row-fluid">
{% for article in object_list %}
<li class="span2">
  <div class="thumbnail">
    {% thumbnail article.picture "310x310" as im %}
    <a href="/eshop/article/{{article.id}}/">
      <img class="picture" src="/media/{{im.url}}" width="{{ im.width }}" height="{{ im.height }}"></img>
    </a>
    {% endthumbnail %}
    <div class="caption">
      <h5><a href="/eshop/article/{{ article.id }}">{{ article.interpret|truncatechars:20 }}</a></h5>
      <div><a href="/eshop/article/{{ article.id }}">{{ article.title|truncatechars:20 }}</a></div>
      <div><strong>{{ article.forSalePriceRange.0 }} Kč</strong></div>
      <div>{% if article.discount %}<span class="badge  badge-success">akce</span>{% endif %}</div>
    </div>
  </div>
</li>
{% if forloop.counter|divisibleby:"6" %}
</div><div class="row-fluid">
{% endif %}
{% endfor %}
</div>
</ul>
