{% load i18n thumbnail %}
<ul class="thumbnails">
<div class="row-fluid">
  {% for article in request.newArticles %}
  <li class="span2">
    <div class="thumbnail">
      {% thumbnail article.picture "60x60" as im %}
      <a href="/eshop/article/{{ article.id }}/">
        <img class="picture img-polaroid" src="/media/{{im.url}}"
             width="{{ im.width }}" height="{{ im.height }}"></img>
      </a>
      {% endthumbnail %}
      <div class="caption">
        <small>{{ article.interpret|default:"" }}</small>
        <small>{{ article.year|default:"" }}</small>
        <small>{{ article.mediaType }}</small>
      </div>
    </div>
  </li>
  {% if forloop.counter|divisibleby:"6" %}
</div><div class="row-fluid">
  {% endif %}
  {% endfor %}
</div>
</ul>
