{% load i18n thumbnail %}
<ul class="thumbnails">
<div class="row-fluid">
  {% for item in request.tradeActions %}
  <li class="span2 tradeaction">
    <div class="thumbnail">
      {% thumbnail item.item.article.picture "60x60" as im %}
      <a class="article-link" href="/eshop/article/{{ item.item.article.id }}/">
        <img class="picture img-polaroid" src="/media/{{im.url}}"
             width="{{ im.width }}" height="{{ im.height }}"></img>
      </a>
      {% endthumbnail %}
      <div class="caption">
        <small>{{ item.item.article.interpret|default:"" }}</small>
        <small>{{ item.item.article.year|default:"" }}</small>
        <small>{{ item.item.article.mediaType }}</small>
      </div>
    </div>
  </li>
  {% if forloop.counter|divisibleby:"6" %}
</div><div class="row-fluid">
  {% endif %}
{% endfor %}
</div>
</ul>
