{% load i18n %}
<ul class="nav nav-list well" data-spy="affix">
  <li class="nav-header">{% trans "Order Form" %}</li>
  <li><a href="#invoicing-address"><i class="icon-chevron-right"></i>{% trans "Invoicing Address" %}</a></li>
  <li><a href="#deliverance"><i class="icon-chevron-right"></i>{% trans "Deliverance" %}</a></li>
  <li><a href="#payment"><i class="icon-chevron-right"></i>{% trans "Payment" %}</a></li>
  <li><a href="#contact"><i class="icon-chevron-right"></i>{% trans "Contact" %}</a></li>
</ul>
