{% load i18n %}
<div class="container-fluid">
  <form method="post" class="form-horizontal" action="">
    {% csrf_token %}
    <legend class="">{% trans "Order Form" %}</legend>
    <div class="row-fluid">
      <div class="span8">
	{% if orderform.non_field_errors %}
	<div class="row-fluid">
	  <div class="span12">
	    <div class="alert alert-error">
	      <a href="#" class="close" data-dismiss="alert">x</a>
	      {{ orderform.non_field_errors }}
	    </div>
	  </div>
	</div>
	{% endif %}
	{% if userform.non_field_errors %}
	<div class="row-fluid">
	  <div class="span12">
	    <div class="alert alert-error">
	      <a href="#" class="close" data-dismiss="alert">x</a>
	      {{ userform.non_field_errors }}
	    </div>
	  </div>
	</div>
	{% endif %}
	<fieldset class="">
	  <caption>{% trans 'Invocing Address' %}</caption>
	  <div class="row-fluid">
	    <div class="span12">
	      {% with field=orderform.invoicing_firm %}
	      <div class="control-group {% if field.errors %} error {% endif %}">
		<label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
		  <input type="text" name="{{field.html_name}}" class="span11" value={{ field.value|default:"" }}></input>
		  {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
		</div>
	      </div>
	      {% endwith %}
	    </div>
	  </div>
	  <div class="row-fluid">
	    <div class="span6">
	      {% with field=orderform.invoicing_name %}
	      <div class="control-group {% if field.errors %} error {% endif %}">
		<label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
		  <input type="text" name="{{field.html_name}}" value={{ field.value|default:"" }}></input>
		  {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
		</div>
	      </div>
	      {% endwith %}
	    </div>
	    <div class="span6">
	      {% with field=orderform.invoicing_surname %}
	      <div class="control-group {% if field.errors %} error {% endif %}">
		<label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
		  <input type="text" name="{{field.html_name}}" value={{ field.value|default:"" }}></input>
		  {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
		</div>
	      </div>
	      {% endwith %}
	    </div>
	  </div>
	  <div class="row-fluid">
	    <div class="span6">
	      {% with field=orderform.invoicing_address_street %}
	      <div class="control-group {% if field.errors %} error {% endif %}">
		<label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
		  <input type="text" name="{{field.html_name}}" class="" value={{ field.value|default:"" }}></input>
		  {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
		</div>
	      </div>
	      {% endwith %}
	    </div>
	    <div class="span6">
	      {% with field=orderform.invoicing_address_zip %}
	      <div class="control-group {% if field.errors %} error {% endif %}">
		<label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
		  <input type="text" name="{{field.html_name}}" class="" value={{ field.value|default:"" }}></input>
		  {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
		</div>
	      </div>
	      {% endwith %}
	    </div>
	  </div>
	  <div class="row-fluid">
	    <div class="span6">
	      {% with field=orderform.invoicing_address_city %}
	      <div class="control-group {% if field.errors %} error {% endif %}">
		<label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
		  <input type="text" name="{{field.html_name}}" class="" value={{ field.value|default:"" }}></input>
		  {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
		</div>
	      </div>
	      {% endwith %}
	    </div>
	    <div class="span6">
	      {% with field=orderform.invoicing_address_country %}
	      <div class="control-group {% if field.errors %} error {% endif %}">
		<label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
		  <input type="text" name="{{field.html_name}}" class="" value={{ field.value|default:"" }}></input>
		  {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
		</div>
	      </div>
	      {% endwith %}
	    </div>
	  </div>

	  <div class="row-fluid">
	    <div class="span6">
	      {% with field=orderform.invoicing_address_ico %}
	      <div class="control-group {% if field.errors %} error {% endif %}">
		<label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
		  <input type="text" name="{{field.html_name}}" class="" value={{ field.value|default:"" }}></input>
		  {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
		</div>
	      </div>
	      {% endwith %}
	    </div>
	    <div class="span6">
	      {% with field=orderform.invoicing_address_dic %}
	      <div class="control-group {% if field.errors %} error {% endif %}">
		<label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
		  <input type="text" name="{{field.html_name}}" class="" value={{ field.value|default:"" }}></input>
		  {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
		</div>
	      </div>
	      {% endwith %}
	    </div>
	  </div>
	</fieldset>

	<div class="row-fluid">
	  <div class="span12">
	    {% with field=orderform.delivery_is_the_same_as_invoicing %}
	    <div class="control-group {% if field.errors %} error {% endif %}">
	      <div class="controls">
		<input type="checkbox" name="{{field.html_name}}" class="span2" value={{ field.value|default:"" }}>{{ field.label }}</input>
		{% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
	      </div>
	    </div>
	    {% endwith %}
	  </div>
	</div>
	<fieldset>
	  <caption>{% trans 'Deliverance' %}</caption>
	  <div class="row-fluid">
	    <div class="span12">
	      {% with field=orderform.delivery_way %}
	      <div class="control-group {% if field.errors %} error {% endif %}">
		<label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
		  <select name="{{field.html_name}}" class="span11" value={{ field.value|default:"" }}>
		    {% for key,desc in field.field.choices %}
		    <option value="{{ key }}" selected="">{{ desc }}</option>
		    {% endfor %}
		  </select>
		  <!-- <input type="select" name="{{field.html_name}}" class="span11" value={{ field.value|default:"" }}></input> -->
		  {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
		</div>
	      </div>
	      {% endwith %}
	    </div>
	  </div>

	  <div class="row-fluid">
	    <div class="span12">
	      {% with field=orderform.delivery_firm %}
	      <div class="control-group {% if field.errors %} error {% endif %}">
		<label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
		  <input type="text" name="{{field.html_name}}" class="span11" value={{ field.value|default:"" }}></input>
		  {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
		</div>
	      </div>
	      {% endwith %}
	    </div>
	  </div>
	  <div class="row-fluid">
	    <div class="span6">
	      {% with field=orderform.delivery_name %}
	      <div class="control-group {% if field.errors %} error {% endif %}">
		<label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
		  <input type="text" name="{{field.html_name}}" value={{ field.value|default:"" }}></input>
		  {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
		</div>
	      </div>
	      {% endwith %}
	    </div>
	    <div class="span6">
	      {% with field=orderform.delivery_surname %}
	      <div class="control-group {% if field.errors %} error {% endif %}">
		<label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
		  <input type="text" name="{{field.html_name}}" value={{ field.value|default:"" }}></input>
		  {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
		</div>
	      </div>
	      {% endwith %}
	    </div>
	  </div>
	  <div class="row-fluid">
	    <div class="span6">
	      {% with field=orderform.delivery_address_street %}
	      <div class="control-group {% if field.errors %} error {% endif %}">
		<label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
		  <input type="text" name="{{field.html_name}}" class="" value={{ field.value|default:"" }}></input>
		  {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
		</div>
	      </div>
	      {% endwith %}
	    </div>
	    <div class="span6">
	      {% with field=orderform.delivery_address_zip %}
	      <div class="control-group {% if field.errors %} error {% endif %}">
		<label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
		  <input type="text" name="{{field.html_name}}" class="" value={{ field.value|default:"" }}></input>
		  {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
		</div>
	      </div>
	      {% endwith %}
	    </div>
	  </div>
	  <div class="row-fluid">
	    <div class="span6">
	      {% with field=orderform.delivery_address_city %}
	      <div class="control-group {% if field.errors %} error {% endif %}">
		<label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
		  <input type="text" name="{{field.html_name}}" class="" value={{ field.value|default:"" }}></input>
		  {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
		</div>
	      </div>
	      {% endwith %}
	    </div>
	    <div class="span6">
	      {% with field=orderform.delivery_address_country %}
	      <div class="control-group {% if field.errors %} error {% endif %}">
		<label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
		  <input type="text" name="{{field.html_name}}" class="" value={{ field.value|default:"" }}></input>
		  {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
		</div>
	      </div>
	      {% endwith %}
	    </div>
	  </div>
	</fieldset>
	<fieldset class="">
	  <caption>{% trans 'Payment' %}</caption>
	  <div class="row-fluid">
	    <div class="span12">
	      {% with field=orderform.payment_way %}
	      <div class="control-group {% if field.errors %} error {% endif %}">
		<label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
		  <select name="{{field.html_name}}" class="span11" value={{ field.value|default:"" }}>
		    {% for key,desc in field.field.choices %}
		    <option value="{{ key }}" selected="">{{ desc }}</option>
		    {% endfor %}
		  </select>
		  {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
		</div>
	      </div>
	      {% endwith %}
	    </div>
	  </div>
	</fieldset>

	<fieldset>
	  <caption>{% trans 'Contact' %}</caption>
	  <div class="row-fluid">
	    <div class="span6">
	      {% with field=orderform.contact_email %}
	      <div class="control-group {% if field.errors %} error {% endif %}">
		<label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
		  <input type="text" name="{{field.html_name}}" class="" value={{ field.value|default:"" }}></input>
		  {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
		</div>
	      </div>
	      {% endwith %}
	    </div>
	    <div class="span6">
	      {% with field=orderform.contact_phonenumber %}
	      <div class="control-group {% if field.errors %} error {% endif %}">
		<label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
		  <input type="text" name="{{field.html_name}}" class="" value={{ field.value|default:"" }}></input>
		  {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
		</div>
	      </div>
	      {% endwith %}
	    </div>
	  </div>

	  <div class="row-fluid">
	    <div class="span12">
	      {% with field=userform.with_registration %}
	      <div class="control-group">
		<div class="controls">
		  <input type="checkbox" name="{{ field.html_name }}" class="span2" id="id_{{field.html_name}}" {% if field.value %} checked="checked" {% endif %}>{{ field.label }}</input>
		</div>
	      </div>
	      {% endwith %}
	    </div>
	  </div>

	  <div class="row-fluid">
	    <div class="span12">
	      {% with field=userform.username %}
	      <div class="control-group {% if field.errors %} error {% endif %}">
		<label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
		  <input type="text" name="{{field.html_name}}" class="" value={{ field.value|default:"" }}></input>
		  <div class="help-block">{{ field.help_text }} {% if field.errors %}{{ field.errors }}{% endif %}</div>
		</div>
	      </div>
	      {% endwith %}
	    </div>
	  </div>
	  <div class="row-fluid">
	    <div class="span6">
	      {% with field=userform.password1 %}
	      <div class="control-group {% if field.errors %} error {% endif %}">
		<label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
		  <input type="text" name="{{field.html_name}}" class="" value={{ field.value|default:"" }}></input>
		  {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
		</div>
	      </div>
	      {% endwith %}
	    </div>
	    <div class="span6">
	      {% with field=userform.password2 %}
	      <div class="control-group {% if field.errors %} error {% endif %}">
		<label class="control-label" for="{{ field.html_name }}">{{ field.label }}</label>
		<div class="controls">
		  <input type="text" name="{{field.html_name}}" class="" value={{ field.value|default:"" }}></input>
		  {% if field.errors %}<div class="help-block">{{ field.errors }}</div>{% endif %}
		</div>
	      </div>
	      {% endwith %}
	    </div>
	  </div>


	</fieldset>
      </div>
    </div>
    
    <div class="form-actions">
      <button type="submit" class="btn" value="back-to-eshop">{% trans "Back to Eshop" %}</button>
      <button type="submit" class="btn btn-success" value="buy">{% trans "Buy" %}</button>
    </div>
  </form>
</div>
