{% load i18n %}
{% load bootstrap_tags %}
<form method="post" class="form-horizontal order" action="">
  {% csrf_token %}
  {{ order_stage_form }}
  {% if user.is_anonymous %}
  <fieldset class="login">
    <legend>Přihlášení</legend>
    <small>pokud jste zaregistrovaní</small>
    {{ order_login_form | as_bootstrap }}
    <div class="form-actions">
      <input type="submit" 
             name="login" 
             class="btn btn-success"
             value="Přihlásit se"/>
    </div>
  </fieldset>
  {% endif %}
  {% if order_stage_form.stage.value == 0 %}
  <fieldset class="delivery">
    <legend>Doručení, placení</legend>
    {{ order_delivery_way_form | as_bootstrap }}
    {{ order_payment_way_form  | as_bootstrap }}
  </fieldset>
  <fieldset class="invocing">
    <legend>Fakturační adresa</legend>
    {{ order_invoicing_form | as_bootstrap }}
  </fieldset>
  
  <fieldset class="delivery">
    <legend>Doručovací adresa</legend>
    {{ order_delivery_form | as_bootstrap }}
  </fieldset>

  <fieldset class="contact">
    <legend>Kontakt</legend>
    {{ order_contact_form | as_bootstrap }}
  </fieldset>

  {% if user.is_anonymous %}
  <fieldset>
    <legend>Uživatel</legend>
    {{ userform | as_bootstrap }}
  </fieldset>
  {% endif %}
  <div class="form-actions">
    <input type="submit" name="cancel" class="btn" value="{% trans 'Cancel' %}"/>
    <input type="submit" name="submit-order" class="btn btn-success" value="{% trans 'Submit Order' %}"/>
  </div>

{% else %}
  <fieldset class="delivery">
    <legend>Doručení, placení</legend>
  {{ order_delivery_way_form | as_bootstrap }}
  {{ order_payment_way_form  | as_bootstrap }}
  </fieldset>

  <fieldset class="invocing">
    <legend>Fakturační adresa</legend>
    {{ order_invoicing_form | as_bootstrap }}
  </fieldset>

  <fieldset class="delivery">
    <legend>Doručovací adresa</legend>
    {{ order_delivery_form | as_bootstrap }}
  </fieldset>

  <fieldset class="contact">
    <legend>Kontakt</legend>
    {{ order_contact_form | as_bootstrap }}
  </fieldset>

  <fieldset>
    <legend>Uživatel</legend>
    {{ userform | as_bootstrap }}
  </fieldset>

  <div class="form-actions">
    <input type="submit" name="cancel" class="btn" value="{% trans 'Cancel' %}"/>
    <input type="submit" name="submit-order" class="btn btn-success" value="{% trans 'Submit Order' %}"/>
  </div>
  {% endif %}
</form>
