{% load i18n %}
<h4 class="title">{% trans "Basket Review" %}</h4>
{% if basket.items %}
<table class="items table table-condensed">
  {% for item in basket.items %}
  <tbody>
  <tr>
    <td><a class="from-basket" href="/eshop/item/{{item.id}}/from-basket/"><img src="/media/img/admin/icon_deletelink.gif"></img></a></td>
    <td>{{ item.article }}</td>
    <td style="text-align:right">{{ item.price|floatformat }} </td>
    <td>Kč</td>
  </tr>
  {% endfor %}
  {% for item in basket.additional_items %}
  <tbody>
  <tr>
    <td></td>
    <td>{{ item.shortDesc }}</td>
    <td style="text-align:right">{{ item.price|floatformat }} </td>
    <td>Kč</td>
  </tr>
  {% endfor %}

  <tr class="total info">
    <td></td>
    <td class="total">celkem:</td>
    <td style="text-align:right">{{ basket.total_price|floatformat }}</td>
    <td>Kč</td>
  </tr>
</table>

<div class="">
  <a class="btn" href="/eshop/">{% trans 'Back to Eshop' %}</a>
</div>

{% else %}
<div class="no-item">{% trans 'No item in basket' %}</div>
{% endif %}
