{% extends "base.html" %}

{% load i18n %}
{% block extrastyle %}
<script type="text/javascript">
$(function(){  
  {% include "store/buyout/js.js" %}
  {% include "store/item_list/js.js" %}
  {% include "store/basket_review/js.js" %}
  jQuery('form.buyout #id_barcode').focus();
});
</script>
{% endblock %}
{% block navigation %}{% include "store/basket.html" %}{% endblock %}
{% block left_column %}
<div class="basket-review">{% include "store/basket_review/list.html" %}</div>
<hr/>
{% endblock %}
{% block title %}{% endblock %}

{% block content %}{% include "store/buyout/form.html" %}{% endblock %}
