{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Goods" %}{% endblock %}
{% block extrastyle %}
<script type="text/javascript">
$(function(){
{% include "store/item_list/js.js" %}
{% include "store/basket_review/js.js" %}
});
</script>
{% endblock %}
{% block navigation %}{% include "store/basket.html" %}{% endblock %}
{% block content %}
<div class="item_edit modal hide fade">
  <div class="modal-header">
  </div>
  <div class="modal-body">
  </div>
</div>
<div class="item_list">

<form method="get" action="/store/item/">
<input type="text" class="search-query" placeholder="Hledani" name="search"></input>
</form>

<form class="pagestate" action="" method="post">
  {% csrf_token %}
  {{ pagestate_form }}
</form>

<h2>{% trans "Goods" %}</h2>

<div class="tools"><a class="add btn btn-secondary btn-normal
                             pull-right" href="/store/item/add/">+</a>
</div>
<div class="pagination">{% include "paginator.html" %}</div>
<div class="list">{% include "store/item_list/list.html" %}</div>
<div class="pagination">{% include "paginator.html" %}</div>
</div>
<script type="text/javascript">
jQuery(".item_list form input[name='search']").focus();
</script>
{% endblock %}
{% block left_column %}
<div class="basket-review">{% include "store/basket_review/list.html" %}</div>
<hr/>
{% include "store/mediatype_choose.html" %}
{% endblock %}
{% block right_column %}{% endblock %}
