{% load i18n bootstrap_tags %}
<form id="form-transition" 
      class="well transition form-horizontal" 
      title=""
      action=""
      method="post">
  {% csrf_token %}
  {{ form | as_bootstrap }}
  <div class="form-actions">
    <input class="btn btn-success" type="submit" name="submit" id="submit-submit" value="submit"></input>
    <input class="btn btn-success" 
           type="submit" 
           name="submit" 
           id="submit-load-emailmessage" 
           value="načíst šablonu"></input>
  </div>
</form>
